body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

#top{
    background-color: #316dc3;
    position: relative;
    top: -16px;
    left: -8px;
    width: 1535px;
}

#head-para{
    text-align: center;
    color: white;
}