body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: #fff; */
}

#top{
    background-color: #316dc3;
    position: relative;
    top: -1px;
    left: -8px;
    width: 1543px;
    height: 63px;
}   


#head-para{
    color: white;
    text-align: center;
    position: relative;
    top: -34px;
}

/* #whatsapp-logo{
    position: relative;
    top: 5px;
    left: 173px;
    height: 20px;
    width: 20px;
    padding-left: 20px;

} */

i{
    padding-left: 27px;
    position: relative;
    left: 173px;

}

.top-button{
    position: relative;
    top: -73px;
    left: 1127px;
    border: 1px solid #427900;
    font-size: 13px;
    color: #427900;
    height: 30px;
    cursor: pointer;
    width: 91px;
}

ul{
    position: relative;
    left: 523px;
}

.home-button{
    border-radius: 20px;
    height: 40px;
    width: 90px;
    background-color: #316dc3;
    border: none;
    color: white;
    cursor: pointer;
}

.media-btn{
    border-radius: 20px;
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    background-color: #F7F8FA;
    color:black;
}

.media-btn:hover{
    background-color: #316dc3;
    color: white;   
}

#navbarDropdownMenuLink{
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color:black;
}

#navbarDropdownMenuLink:hover{
     background-color: #316dc3;
     color: white; 
}

#saylani-logo{
    height: 59px;
    position: relative;
    left: 163px;
}
nav{
    background-color: #F7F8FA;
    /* position: fixed; */
    /* box-shadow: 10px 10px 10px #F7F8FA; */
}

#navbar{
    background-color: #F7F8FA;
    width: 1523px;
}

#text{
    background-color: #316DC3;
    height: 25px;
    width: 900px;
    position: relative;
    left: 285px;
    top: 11px;
    /* text-overflow: ellipsis; */
    overflow: hidden;
}

#movable-para{
    position: absolute;
    white-space: nowrap;
    animation: floatText 5s infinite alternate ease-in-out;
}
@-webkit-keyframes floatText{
    from {
      left: 00%;
    }
  
    to {
      /* left: auto; */
      left: 100%;
    }
  }